.orderSummaryLine {
  width: 34rem;
  display: flex;
  justify-content: space-between;
  gap: 10rem;
}

.orderDetails {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.orderDetails p {
  margin-bottom: 2rem;
  font-size: 2rem;
  font-weight: 700;
}
