.cartMainDiv {
  max-width: 100rem;
  border-radius: 10px;
  padding: 2.4rem;
  background-color: white;
  margin-bottom: 4.8rem;
}

.gridDiv {
  display: grid;
  max-width: 100rem;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-between;
  gap: 20rem;
}

.cartImg {
  display: inline-block;
  /* height: 50%;
  width: 50%; */
  /* height: 59.6rem; */
  width: 16rem;
  height: 24rem;
  border-radius: 10px;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
}

.cartName {
  font-size: 2rem;
  font-weight: 600;
  justify-self: start;
}
