.cartMainDiv {
  max-width: 100rem;
  border-radius: 10px;
  padding: 2.4rem;
  background-color: white;
  margin-bottom: 4.8rem;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.253);
}

.gridDiv {
  display: grid;
  max-width: 100rem;
  grid-template-columns: 1fr 2fr 2fr;
  justify-content: space-between;
  gap: 5rem;
}

.cartImg {
  display: inline-block;
  width: 24rem;
  height: 24rem;
  border-radius: 10px;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
}

.cartName {
  font-size: 2rem;
  font-weight: 600;
  justify-self: start;
}

.right {
  display: flex;
  flex-direction: column;
  justify-self: end;
  gap: 8rem;
}

/* MEDIA */

@media only screen and (max-width: 1200px) {
  .gridDiv {
    grid-template-columns: 1fr;
    gap: 2rem;
    justify-content: center;
    align-items: center;
  }
  .right {
    grid-column: 1;
  }

  .cartImg {
    grid-row: 1/-1;
    width: 18rem;
    height: 18rem;
    justify-self: center;
  }

  .cartName {
    justify-self: center;
  }

  .right {
    justify-self: center;
  }
}

@media only screen and (max-width: 840px) {
  .gridDiv {
    margin: 0 auto;
    width: 36rem;
    align-items: center;
    justify-content: center;
  }

  .cartMainDiv {
    width: auto;
  }
}
@media only screen and (max-width: 540px) {
  .gridDiv {
    margin: 0 auto;
    width: 30rem;
    align-items: center;
    justify-content: center;
  }

  .cartMainDiv {
    width: 36rem;
  }
}
