.vh100 {
  min-height: 100vh;
}

.grid {
  margin: 0 auto;
  margin-top: 12.8rem;
  display: flex;
  max-width: 120rem;
  align-items: center;
  justify-content: center;
  gap: 10rem;
  padding-top: 9.6rem;
}

.imageContainer {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.img {
  height: 42rem;
  border-radius: 10px;
  justify-self: end;
}

.details {
  padding: 2rem;
  height: 49rem;
  width: 42rem;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  font-size: 1.8rem;
  gap: 3rem;
  justify-content: center;
}

.lightGrey {
  color: #777;
}

.line {
  display: flex;
  gap: 2rem;
  height: 2rem;
}
.icon {
  height: 3rem;
}

.iconPrice {
  height: 3rem;
  /* color: #f08c00; */
}

.iconSpec {
  height: 3rem;
  margin-right: 0.5rem;
}

.button,
.button:link,
.button:visited {
  height: 4rem;
  width: 25rem;
  width: 100%;

  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  color: #fff;
  text-decoration: none;
  font-size: 2rem;
  font-weight: 600;
  padding: 1.6rem 3.2rem;
  border-radius: 9px;
  background-color: #f08c00;

  /* Only necessary for .btn */
  border: none;
  cursor: pointer;
  font-family: inherit;

  /* Put transition on original "state" */
  /* transition: background-color 0.3s; */
  transition: all 0.3s;
}

.button:hover,
.button:active {
  transform: scale(1.05);
  color: white;
}

@media only screen and (max-width: 1000px) {
  .img {
    height: 32rem;
  }
  .details {
    height: 39rem;
    width: 32rem;
  }
}
@media only screen and (max-width: 800px) {
  .img {
    height: 30rem;
  }
  .details {
    height: 37rem;
    width: 30rem;
    font-size: 1.4rem;
    margin-bottom: 2rem;
  }
  .button {
    font-size: 1.8rem;
  }

  .grid {
    flex-direction: column;
  }
}
