.img {
  display: inline-block;
  width: 25rem;
  height: 25rem;
  border-radius: 10px;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
}

.itemsGrid {
  display: grid;
  gap: 8rem;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  justify-content: center;
  max-width: 135rem;
  /* padding: 0 3.2rem; */
  margin: 0 auto;
  padding-top: 6.4rem;
  padding-bottom: 6.4rem;
}

.btn {
  height: 3.2rem;
  font-size: 1.2rem;
  font-weight: 600;
  display: inline-block;
  text-transform: uppercase;
  border: 0.5px solid rgba(0, 0, 0, 0.582);
  background-color: white;
  border-radius: 8px;
  transition: all 0.2s;
  width: 100%;
  letter-spacing: 1px;
}

.btn:hover {
  /* background-color: #f08c00; */
  /* color: #f08c00; */
  transform: scale(1.02);
}

.btn:active {
  color: #f08c00;
}

.btnFlex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.item {
  display: flex;
  flex-direction: column;
  max-width: 35rem;
  /* align-items: start; */
  gap: 2rem;
}

.itemHeading {
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 1.4rem;
}

.price {
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: 2px;
  padding-top: 0.6rem;
}

.description {
  font-size: 2rem;
  line-height: 1.5;
  letter-spacing: 0.5px;
}

.itemDescription {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media only screen and (max-width: 1200px) {
  .btnFlex {
    width: 25rem;
    justify-content: start;
  }
}

/* MEDIA QUERY - 1000 PX */

@media only screen and (max-width: 1040px) {
  .itemsGrid {
    gap: 6rem;
  }
  .img {
    width: 15rem;
    height: 15rem;
  }
  .btnFlex {
    justify-content: start;
    width: 15rem;
  }

  .itemHeading {
    font-size: 1.2rem;
    width: 10rem;
  }

  .price {
    font-size: 1.6rem;
  }

  .btn {
    height: 2.8rem;
    width: 18rem;
  }
}
@media only screen and (max-width: 780px) {
  .itemsGrid {
    gap: 2rem;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    max-width: 60rem;
  }
  .img {
    width: 10rem;
    height: 10rem;
  }

  .itemHeading {
    font-size: 1.2rem;
    width: 10rem;
  }

  .price {
    font-size: 1.6rem;
  }

  .btn {
    height: 2.8rem;
    width: 10rem;
    font-size: 1rem;
  }
  .btnFlex {
    justify-content: center;
  }

  .item {
    align-items: center;
  }
}
