.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  /* background-color: #ff8787; */
  font-size: 1.8rem;
  height: 6.4rem;
  position: relative;

  /* border-bottom: 2px solid #ff6b6b; */
  padding: 0 3.2rem;
}
.img {
  /* display: inline-block; */
  height: 4.8rem;
  /* width: 6.4rem; */
  justify-self: end;
}

@media only screen and (max-width: 1000px) {
  .img {
    height: 3.2rem;
  }
}
@media only screen and (max-width: 850px) {
  .img {
    height: 2rem;
  }
}
