.flexDiv {
  margin-top: 9.6rem;
  display: flex;
  flex-direction: column;
  gap: 10rem;
  margin-right: 6rem;
}

.hamburger {
  position: absolute;
  right: 2rem;
  top: 1rem;
  height: 6rem;
  /* right: 0; */
}

.navBarWrapper {
  display: flex;
  /* flex-direction: column; */
  font-size: 2rem;
  gap: 3.2em;
  /* position: relative; */
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  /* margin: 0 auto; */
  min-height: 100vh;
  max-height: 200vh;
  min-width: 100%;
  background-color: rgb(0, 0, 0);
  align-content: center;
  justify-content: center;
  opacity: 90%;
}

.navBarWrapperHidden {
  display: none;
}

.link:hover,
.link:active,
.link:focus {
  cursor: pointer;
  transform: scale(1.3);
  color: #f08c00;
  outline: none;
  border: none;
  -webkit-tap-highlight-color: transparent;
}

.link {
  transition: all 0.2s ease-in-out;

  text-decoration: none;
  color: #999;
}

.arrow {
  height: 2rem;
}
.linkDrop:hover,
.linkDrop:active,
.linkDrop:focus {
  cursor: pointer;
  transform: scale(1.3);
  color: #f08c00;
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

.linkDrop:hover,
.linkDrop:active .dropContent {
  cursor: pointer;
  transform: scale(1.3);
  color: #999;
}

.linkDrop {
  display: flex;
  align-items: center;
  gap: 1rem;
  transition: all 0.3s ease-in-out;

  text-decoration: none;
  color: #999;
}

.dropContent {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
