.greeting {
  text-align: center;
  padding-top: 6.4rem;
  color: #555;
  font-size: 3.2rem;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4.8rem;
  gap: 1rem;
}

.form label {
  color: red;
  align-self: flex-start;
}

.input {
  height: 4rem;
  width: 34rem;
  padding: 2rem;
  border-radius: 10px;
  border: 0.5px solid rgba(0, 0, 0, 0.247);
}

.inputRed {
  height: 4rem;
  width: 34rem;
  padding: 2rem;
  border-radius: 10px;
  border: 1px solid rgb(255, 0, 0);
}

.signUpDiv {
  height: 55rem;
  background-color: white;
  width: 40rem;
  margin: 0 auto;
  margin-top: 9.6rem;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.247);
}

.btn {
  transition: all 0.2s;

  display: inline-block;
  height: 4rem;
  width: 34rem;
  text-align: center;
  border-radius: 10px;
  font-size: 1.6rem;
  letter-spacing: 1.5px;
  border: none;
}
.btn:active,
.btn:hover {
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.192);
  transform: scale(1.05);
}

.error {
  font-size: 1.8rem;
  padding: 1.8rem;
  color: red;
}

.noAccount {
  font-size: 1.4rem;
}

.noAccountLink {
  text-decoration: none;
  color: #a86200;
}
