.container {
  padding: 4.8rem 4.8rem;
  max-width: 90rem;
  margin: 0 auto;
  margin-top: 9.6rem;
  text-align: center;
  display: flex;
  background-color: white;
  border-radius: 10px;
  border: 2px solid rgba(0, 0, 0, 0.226);
  justify-content: space-between;
  align-items: center;
  /* gap: 20rem; */
}
.btn,
.btn:link,
.btn:visited {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  text-decoration: none;
  font-size: 2rem;
  font-weight: 600;
  padding: 1.6rem 3.2rem;
  border-radius: 9px;
  background-color: #f08c00;

  /* Only necessary for .btn */
  border: none;
  cursor: pointer;
  font-family: inherit;

  /* Put transition on original "state" */
  /* transition: background-color 0.3s; */
  transition: all 0.3s;
}

.btn:hover,
.btn:active {
  transform: scale(1.1);
  color: white;
}

.orders {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 2rem;
}

.orderNum,
.orderTotal {
  font-size: 2rem;
  /* padding: 4.8rem; */
}

.orderDetails {
  font-size: 2rem;
  border: 1px solid rgba(0, 0, 0, 0.486);
  padding: 1.2rem;
  border-radius: 10px;
}

.orderImg {
  height: 10rem;
  width: 10rem;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.26);
  border-radius: 10px;
  padding: 0.5rem;
}

.itemsGrid {
  margin-top: 4.8rem;
  display: grid;
  gap: 4rem;
  row-gap: 8rem;

  grid-template-columns: repeat(3, 1fr);
}

.itemDesc {
  display: flex;
  gap: 1rem;

  flex-direction: column;
  padding: 0.5rem;
  border-radius: 10px;
}

.itemDesc span {
  font-size: 1.6rem;
  font-weight: 600;
  letter-spacing: 0.5px;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
}

.orderSpan {
  color: #666;
}
