.cont {
  min-height: 100vh;
}
.containerGrid {
  margin-top: 12.8rem;
  display: grid;
  gap: 2rem;
  grid-template-columns: 1fr 2fr;
  column-gap: 2rem;
}

.aside {
  max-width: 20rem;
  min-width: 15rem;
  padding: 2rem;
  padding-top: 4rem;
  max-height: 39.6rem;
  background-color: white;
  border: 0.5px solid rgba(0, 0, 0, 0.274);
  justify-self: end;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.aside a {
  font-size: 1.8rem;
  text-decoration: none;
  color: inherit;
}

.form {
  background-color: white;
  padding: 2rem;
  display: flex;
  flex-grow: 0;
  flex-direction: column;
  align-items: center;
  justify-self: start;

  gap: 3rem;
  border: 0.5px solid rgba(0, 0, 0, 0.274);
  border-radius: 30px;
}

.label {
  font-size: 1.8rem;
  color: #666;
  width: 100%;
  text-align: start;
}

.formInput {
  width: 26.9rem;
  height: 3.6rem;
  border-radius: 5px;
  /* text-align: center; */
  padding: 2rem;
  font-size: 1.6rem;
  border: 1px solid rgba(0, 0, 0, 0.342);
}

.formInput::placeholder,
.formInputAdd::placeholder {
  color: #444;
}

.formInputAdd {
  width: 55.8rem;
  height: 3.6rem;
  padding: 2rem;

  border-radius: 5px;

  text-align: start;
  font-size: 1.6rem;
  border: 1px solid rgba(0, 0, 0, 0.342);
}

.group {
  display: flex;
  gap: 2rem;
}

.group2items {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.btn {
  /* padding: 0.8rem 0.2rem; */
  height: 3.2rem;
  font-size: 1.2rem;
  font-weight: 600;
  display: inline-block;
  text-transform: uppercase;
  border: 0.5px solid rgba(0, 0, 0, 0.582);
  background-color: white;
  border-radius: 8px;
  transition: all 0.15s;
  width: 12rem;
  margin-top: 2.4rem;
}

.formh2 {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 3rem;
}

.active {
  color: #f08c00;
}

/* 1200 PX */

@media only screen and (max-width: 1200px) {
  .form {
    width: 50rem;
  }
  .formInput {
    width: 20rem;
  }

  .formInputAdd {
    width: 42rem;
  }
}

@media only screen and (max-width: 800px) {
  .form {
    width: 40rem;
  }
  .formInput {
    width: 15rem;
  }

  .formInputAdd {
    width: 32rem;
  }
}
@media only screen and (max-width: 640px) {
  .form {
    width: 30rem;
  }
  .formInput {
    width: 13rem;
  }

  .formInputAdd {
    width: 28rem;
  }

  .label {
    font-size: 1.4rem;
  }

  .formInput::placeholder,
  .formInputAdd::placeholder {
    font-size: 1.2rem;
  }
  .formh2 {
    font-size: 1.6rem;
  }

  .aside {
    min-width: 10rem;
    max-width: 12rem;
    text-align: center;
  }

  .aside a {
    font-size: 1.2rem;
  }

  .btn {
    height: 2.6rem;
    font-size: 1rem;
  }
}
@media only screen and (max-width: 460px) {
  .aside {
    min-width: 8rem;
    max-width: 10rem;
    text-align: center;
  }
  .btn {
    height: 2.6rem;
    font-size: 1rem;
  }
}

@media only screen and (max-width: 440px) {
  .aside {
    padding: 0;
    padding-top: 4rem;
    min-width: 6rem;
    max-width: 8rem;
    text-align: center;
  }

  .aside a {
    font-size: 1rem;
  }

  .form {
    width: 25rem;
  }
  .formInput {
    width: 10rem;
    padding: 0.8rem;
  }

  .formInputAdd {
    width: 22rem;
    padding: 0.8rem;
  }

  .label {
    font-size: 1.1rem;
    padding: 0rem;
  }

  .formInput::placeholder,
  .formInputAdd::placeholder {
    font-size: 1.2rem;
  }
  .formh2 {
    font-size: 1.2rem;
  }

  .btn {
    height: 2.6rem;
    font-size: 1rem;
  }
}
