* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  min-width: 0;
  min-height: 0;
}

html {
  /* font-size: 10px; */

  /* 10px / 16px = 0.625 = 62.5% */
  /* Percentage of user's browser font-size setting */
  font-size: 62.5%;
  overflow-x: hidden;

  /* Does NOT work on Safari */
  /* scroll-behavior: smooth; */
}
body {
  font-family: 'Lato', sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #313131;
  /* background-color: #fff0f6; */
  background-color: #f8f9fa;
  max-width: 1000vh;

  /* Only works if there is nothing absolutely positioned in relation to body */
  overflow-x: hidden;
}

main {
  font-size: 2.4rem;
  text-align: center;
  margin-top: 9.8rem;
  width: 100vh;
}
