.vh100 {
  min-height: 100vh;
  max-width: 120rem;
  margin: 0 auto;
}

.hero {
  display: grid;
  gap: 6.4rem;
  justify-content: center;
  align-items: center;
  grid-template-columns: 2fr 2fr;
  padding: 3.2rem 12.8rem;
  margin-top: 4.8rem;
}

.primaryBox {
  grid-column: 1;
  grid-row: 1;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  padding: 4.8rem;
  gap: 3.2rem;
  overflow: hidden;
}

.headingPrimary {
  margin-bottom: 2rem;
  font-size: 3.2rem;
  margin-top: 4.8rem;
  text-transform: uppercase;
  font-weight: 700;
  justify-self: start;
  letter-spacing: -1px;
  line-height: 1.2;
}

.headingDescription {
  letter-spacing: -0.5px;
  font-size: 2.4rem;
  margin-bottom: 2.4rem;
  grid-row: 1;
  line-height: 1.6;
}

.heroImg {
  display: flex;
  grid-column: 2;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
  border-radius: 20px;
}

.headingImg {
  display: inline-block;
  height: 42rem;
  width: 42rem;
  border-radius: 20px;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
}

.headingBtn,
.headingBtn:link,
.headingBtn:visited {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  color: #fff;
  text-decoration: none;
  font-size: 2rem;
  font-weight: 600;
  padding: 1.6rem 3.2rem;
  border-radius: 9px;
  background-color: #f08c00;

  /* Only necessary for .btn */
  border: none;
  cursor: pointer;
  font-family: inherit;

  /* Put transition on original "state" */
  /* transition: background-color 0.3s; */
  transition: all 0.3s;
}

.headingBtn:hover,
.headingBtn:active {
  transform: scale(1.1);
  color: white;
}

/* MEDIA QUERY */

@media only screen and (max-width: 1200px) {
  .primaryBox {
    padding: 3.2rem;
  }
  .headingBtn,
  .headingBtn:link,
  .headingBtn:visited {
    font-size: 1.6rem;
    padding: 1.6rem 1.6rem;
  }

  .headingImg {
    height: 36rem;
    width: 36rem;
  }

  .headingPrimary {
    font-size: 2.8rem;
  }

  .headingDescription {
    font-size: 2.2rem;
  }
}
@media only screen and (max-width: 1060px) {
  .primaryBox {
    padding: 0rem;
  }

  .headingImg {
    height: 30rem;
    width: 30rem;
  }

  .headingPrimary {
    font-size: 2.4rem;
  }

  .headingDescription {
    font-size: 1.8rem;
  }
}
.headingBtn,
.headingBtn:link,
.headingBtn:visited {
  font-size: 1.6rem;
  padding: 1.2rem;
}

@media only screen and (max-width: 915px) {
  .headingImg {
    height: 26rem;
    width: 26rem;
  }

  .headingPrimary {
    font-size: 2.2rem;
  }

  .headingDescription {
    font-size: 1.6rem;
  }

  .hero {
    display: flex;
    flex-direction: column;
  }
  .primaryBox {
    padding: 0rem 9.6rem;
    /* align-items: center; */
  }
}

@media only screen and (max-width: 810px) {
  .primaryBox {
    padding: 0rem;
    align-items: center;
  }
  .headingBtn,
  .headingBtn:link,
  .headingBtn:visited {
    font-size: 1.4rem;
    /* padding: 0.8rem; */
  }
  .hero {
    display: flex;
    flex-direction: column;
    padding: 3.2rem 6.4rem;
  }

  .primaryBox {
    padding: 0rem 9.6rem;
  }
}
